<mat-card class="repo-card">
	<mat-card-header>
		<img mat-card-avatar [src]="avatar">
		<mat-card-title>{{name}}</mat-card-title>
		<mat-card-subtitle>{{description}}</mat-card-subtitle>
        <mat-card-subtitle >
            <div class="repo-info bordered">
                Stars: {{stars | numberSuffix:1}}
            </div>
            <div class="repo-info bordered">
                Issues: {{issues | numberSuffix: 1}}
            </div>
            <div class="repo-info">
                Submitted {{pushedAt | daysDifference}} days ago by {{submittedBy}}
            </div>
        </mat-card-subtitle>
	</mat-card-header>
</mat-card>